.App {
  text-align: center;
}
#card--div{
  max-width: 150px;
  
  border: none;
}
#answers--container{
  
  display: flex;
  justify-content: center;
  height: 200px;
  max-width: 100%;
  border:none;
}
#top--card--container{
  display:flex;
  justify-content: center;
}
ul{
  border:none;
}